@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400|Cousine');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
main {
  display: flex;
}
aside {
  width: 150px;
  height: 100vh;
  background: var(--aside-bg);
}

.me-textarea {
  font-family: 'Cousine', monospace;
  flex: 0.9;
  height: 100vh;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 1.5em;
  background: var(--me-textarea-bg);
  color: var(--me-textarea-color);
}
.user-textarea {
  font-family: 'Cousine', monospace;
  flex: 0.9;
  height: 100vh;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 14px;
  background: var(--user-textarea-bg);
  color: var(--user-textarea-color);
}

/* Me */

.me {
  color: var(--me-textarea-color);
  background: var(--me-textarea-bg);
  font-size: 13px;
  padding: 6px 10px;
  cursor: pointer;
}

.me .edit {
  display: flex;
  justify-content: space-between;
}

.me input[type=text] {
  width: 80px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  background: none;
  color: var(--me-textarea-color);
  background: rgba(0,0,0,0.2);
}

/* User */

.user {
  display: flex;
  color: var(--user-textarea-color);
  font-size: 13px;
  padding: 6px 10px;
  cursor: pointer;
}
.user.selected {
  background: var(--user-textarea-bg);
}