@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Cousine');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}
main {
  display: flex;
}
aside {
  width: 150px;
  height: 100vh;
  background: #2d3c43;
}
textarea {
  font-family: 'Cousine', monospace;
  width: 50vw;
  height: 100vh;
  background: #263238;
  color: white;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 14px;
}
.user {
  color: white;
  padding: 3px 10px;
}
.user:first-child {
  padding-top: 10px;
}